<div>
  <h2>Socket.io</h2>
  <hr />
  <div>
    <p id="username">Username: {{req.user.username}}</p>
    <input type="text" name="chatbox" id="chatbox" />
  </div>
  <div>
    <ul id="listaMensajes">

    </ul>
  </div>

</div>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>