<h2>Ingrese email y la nueva password</h2>
<div>
  <form id="nuevaPassForm" action="/api/session/nuevapass2" method="POST">
    <label>Email</label>
    <input type="text" name="email" />
    <label>Nueva contraseña</label>
    <input type="text" name="password" />
    <input type="submit" value="Cambiar contraseña" />
  </form>
</div>